In [557]:
import pandas as pd
import os
import re

### Read data from file

In [558]:
file_path = os.path.join(os.getcwd(), '..', 'Data', 'Recipes.csv')
df = pd.read_csv(file_path)

In [559]:
df.sample(2)

,Page No,Recipe Name,Image URL,Recipe URL,Recipe URL Title,Image URL Original,Cuisine,Course,Diet,Equipments,...,Total Ratings,Best Rating,Worst Rating,Prep Time,Cook Time,Total Time,Servings,Recipe Description,Ingredients,Instructions
5259,220,Broken Wheat Upma Or Dalia Khichdi Recipe for ...,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/broken-wheat-u...,Broken Wheat Upma Or Dalia Khichdi Recipe for ...,https://www.archanaskitchen.com/images/archana...,Indian,Indian Breakfast,Vegetarian,"Hard Anodized Pressure Cooker,Hard Anodised Ka...",...,2244.0,5.0,0.0,10 M,10 M,20 M,2,Broken Wheat Upma or Dalia Khichdi is a simple...,Broken Wheat (Dalia/ Godumai Rava) - 1/4 cup|W...,To begin making Dalia Khichdi or Broken Wheat ...
6745,285,Red Rice Dosa Recipe,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/red-rice-dosa-...,Red Rice Dosa Recipe,https://www.archanaskitchen.com/images/archana...,South Indian Recipes,South Indian Breakfast,Vegetarian,Cast Iron Tawa/ Flat Skillet,...,10301.0,5.0,0.0,10 M,120 M,130 M,3,Dosas are a very popular South Indian breakfas...,Red matta rice - 1 cup|White Urad Dal (Split) ...,Soak the red rice in water such that the all t...

### Drop columns

In [560]:
drop_columns = ['Image URL Original', 'Recipe Description', 'Instructions'] #'Recipe URL'
df.drop(drop_columns, axis=1, inplace=True)

In [561]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7996 entries, 0 to 7995
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Page No           7996 non-null   int64
 1   Recipe Name       7996 non-null   object
 2   Image URL         7996 non-null   object
 3   Recipe URL        7996 non-null   object
 4   Recipe URL Title  7993 non-null   object
 5   Cuisine           7925 non-null   object
 6   Course            7835 non-null   object
 7   Diet              7842 non-null   object
 8   Equipments        7805 non-null   object
 9   Average Rating    7993 non-null   float64
 10  Total Ratings     7993 non-null   float64
 11  Best Rating       7993 non-null   float64
 12  Worst Rating      7993 non-null   float64
 13  Prep Time         7964 non-null   object
 14  Cook Time         7964 non-null   object
 15  Total Time        7964 non-null   object
 16  Servings          7941 non-null   object
 17  Ingredients       7986 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 1.1+ MB

### Missing Values drop or replace

In [562]:
df.isna().sum()

Page No               0
Recipe Name           0
Image URL             0
Recipe URL            0
Recipe URL Title      3
Cuisine              71
Course              161
Diet                154
Equipments          191
Average Rating        3
Total Ratings         3
Best Rating           3
Worst Rating          3
Prep Time            32
Cook Time            32
Total Time           32
Servings             55
Ingredients          10
dtype: int64

#### Remove recipes without title (Failed to fetch details due to page issue)

In [563]:
df[df['Recipe URL Title'].isna()]

,Page No,Recipe Name,Image URL,Recipe URL,Recipe URL Title,Cuisine,Course,Diet,Equipments,Average Rating,Total Ratings,Best Rating,Worst Rating,Prep Time,Cook Time,Total Time,Servings,Ingredients
2453,103,Open Toast Macaroni Recipe,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/open-toast-mac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4093,171,"Carrot, Capsicum, Mushroom & Sweet Corn Tawa S...",https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/carrot-capsicu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6407,267,Eggless Baked Chocolate Chip Coins Recipe,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/eggless-baked-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [564]:
df.dropna(subset=['Recipe URL Title'], inplace=True)

#### Filling recipies without Prep Time, Cook Time and Total Time

In [565]:
df[df['Prep Time'].isna()].sample(2)

,Page No,Recipe Name,Image URL,Recipe URL,Recipe URL Title,Cuisine,Course,Diet,Equipments,Average Rating,Total Ratings,Best Rating,Worst Rating,Prep Time,Cook Time,Total Time,Servings,Ingredients
5316,222,Besan Oats Ladoo Recipe,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/besan-oats-lad...,Besan Oats Ladoo Recipe,Indian,Dessert,Vegetarian,"Preethi Blue Leaf Mixer Grinder,Hard Anodised ...",4.905300,1415.0,5.0,0.0,NaN,NaN,NaN,NaN,Gram flour (besan) - 1 cup|Instant Oats (Oatme...
6809,287,सब्जी वाली रवा इडली रेसिपी - Veggie Rava Idli ...,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/veggie-rava-id...,सब्जी वाली रवा इडली रेसिपी - Veggie Rava Idli ...,South Indian Recipes,South Indian Breakfast,Vegetarian,"Glass Mixing Bowl,Tadka Pan (Seasoning Pan),Dh...",4.933481,1804.0,5.0,0.0,NaN,NaN,NaN,NaN,सूजी - 1-1/2 कप|दही - 1 कप|अदरक - 1 - कसा हुआ|...

#### Filling NAs in `Prep Time` with 10 M - Maximum counts

In [566]:
df['Prep Time'].value_counts(normalize = True)[:5]

Prep Time
10 M    0.390633
15 M    0.183325
20 M    0.171396
5 M     0.062531
30 M    0.059518
Name: proportion, dtype: float64

In [567]:
df['Prep Time'].fillna('10 M', inplace=True)

#### Filling NAs in `Cook Time` with 30 M - Maximum counts

In [568]:
df['Cook Time'].value_counts(normalize = True)[:5]

Cook Time
30 M    0.244224
20 M    0.173656
15 M    0.102587
40 M    0.082873
45 M    0.078729
Name: proportion, dtype: float64

In [569]:
df['Cook Time'].fillna('30 M', inplace=True)

#### Filling NAs in `Total Time` with 40 M - Maximum counts

In [570]:
df['Total Time'].value_counts(normalize = True)[:5]

Total Time
40 M    0.142516
30 M    0.120668
50 M    0.098694
35 M    0.079357
45 M    0.077223
Name: proportion, dtype: float64

In [571]:
df['Total Time'].fillna('40 M', inplace=True)

#### Filling NAs in `Servings` with 4 - Maximum counts

In [572]:
df['Servings'].value_counts(normalize = True)[:5]

Servings
4    0.614406
2    0.128951
3    0.057549
6    0.054779
5    0.019771
Name: proportion, dtype: float64

In [573]:
df['Servings'].fillna(4, inplace=True)

#### Filling NAs in `Course` with side dish - Not maximum but side dish makes sense based on the Recipe Name

In [574]:
df['Course'].value_counts(normalize = True)[:5]

Course
Lunch        0.244288
Side Dish    0.145118
Snack        0.134014
Dinner       0.111678
Dessert      0.100830
Name: proportion, dtype: float64

In [575]:
df.loc[df['Course'].isna(), 'Recipe Name'].sample(10).unique()

array(['How To Make Homemade Raisins', 'Bengali Bhaja Masala Recipe',
       'Ragi Or Finger Millet Powder/ Malt Recipe for Babies 6 Months & Above',
       'अदरक लहसुन का पेस्ट रेसिपी - Homemade Ginger Garlic Paste Recipe',
       'Ambul Polos Curry - Sri Lankan Jack Fruit Curry Recipe With Pol Sambol',
       'Bavarian Mushroom Sauce Recipe', 'Goan Recheado Masala Recipe',
       'Simple Lemon Tea Recipe', 'Pomegranate Frozen Margarita Recipe',
       'Chinese 5 spice powder Recipe'], dtype=object)

In [576]:
df['Course'].fillna('Side Dish', inplace=True)

#### Filling NAs in `Diet` with Vegetarian - Maximum counts

In [577]:
df['Diet'].value_counts(normalize = True)[:5]

Diet
Vegetarian                 0.697399
High Protein Vegetarian    0.101887
Non Vegeterian             0.056746
Eggetarian                 0.049222
Diabetic Friendly          0.036853
Name: proportion, dtype: float64

In [578]:
df['Diet'].fillna('Vegetarian', inplace=True)

#### Filling NAs in `Cuisine` manually with help of ChatGPT

In [579]:
df.loc[df['Cuisine'].isna(), 'Recipe Name'].unique()  #Recipe Names
df['Cuisine'].unique() # Cuisine Names
df['Cuisine'].value_counts(normalize = True)[:10]

Cuisine
Indian                   0.166562
Continental              0.163533
North Indian Recipes     0.131987
South Indian Recipes     0.097539
Italian Recipes          0.034322
Bengali Recipes          0.024606
Maharashtrian Recipes    0.024101
Kerala Recipes           0.023722
Tamil Nadu               0.023344
Karnataka                0.020820
Name: proportion, dtype: float64

In [580]:
recipe_cuisine_mapping = {
    'Cheesy Corn And Onion Toasts Recipe': 'Continental', 'Irish Cream Bundt Cake Recipe': 'Continental', 'How to Blanch Tomatoes Recipe': 'Continental', 'How To Make All Purpose Pie Crust Recipe': 'Continental', 'How to blanch Almonds': 'Continental', 'Homemade Dijon Mustard Sauce Recipe': 'Continental', 'Homemade Pumpkin Puree Recipe': 'Continental', 'Sundried Tomato Pesto Recipe': 'Continental', 'Sweet Potato Balls Recipe Stuffed With Cheesy Garlic Mayo Recipe': 'Continental', 'Pineapple Jalapeño Pops Recipe `': 'Continental', 'Homemade Vegetable Stock Recipe': 'Continental', 'Homemade Apple Sauce Recipe': 'Continental', 'Dark Chocolate Cherry Cake Recipe': 'Continental', 'How To Make Homemade Caramelised Onions': 'Continental', 'Apple, Kiwi, Pineapple Juice Recipe': 'Continental', 'Carrot Ginger Juice Recipe': 'Continental', 'How To Make Homemade Raisins': 'Continental', 'Guava And Papaya Mimosa Drink Recipe': 'Continental', 'Sweet Potato & Rosemary Crisps/ Chips': 'Continental', 'Whole Wheat Crepe Recipe With Herbed Vegetables': 'Continental', 'Fig Honey & Paprika Preserve Recipe': 'Continental', 'Spicy Baked Beans With Potato Cakes Recipe': 'Continental', 'Fresh Strawberry Jam Recipe (Strawberry Preserve)': 'Continental', 'How to make Homemade Tomato Puree Recipe (Sauce)': 'Continental', 'Red Wine Sangria Cocktail Recipe': 'Continental', 'Homemade Ice-Cream Cake Recipe': 'Continental',
    'High Protein Spinach & Soy Bites Recipe': 'Indian', 'Dahi Bhalla Papdi Chaat Recipe': 'Indian', 'How to Cook Green Beans in a Pressure Cooker': 'Indian', 'Andaman Style Steamed Garlic Prawns Recipe': 'Indian', 'Homemade Tamarind Water Recipe': 'Indian', 'How to Cook Root Vegetables like Potatoes using a Pressure Cooker': 'Indian', 'How To Cook Legumes in a Pressure Cooker & Sauce Pan': 'Indian', 'Classic Pavakkai Stir Fry Recipe (Bitter Gourd Fry)': 'Indian', 'How to Cook Vegetables in a Pressure Cooker': 'Indian', 'Menthe Hittu Recipe (Roasted Fenugreek Chutney Powder)': 'Indian', 'Roasted Papad Chaat Recipe': 'Indian', 'Star Cutlet Sandwich Recipe For the Kids Tiffins Using Kissan Food Cutters': 'Indian', 'How to Cook Lentils (Dals/Pulses) in a Pressure Cooker': 'Indian', 'कॉर्न शिमला मिर्च सैंडविच रेसिपी - Corn And Capsicum Sandwich Recipe': 'Indian', 'Warm Roasted Beet Salad Recipe - Roz Ka Khana With Figaro Olive Oil': 'Indian', 'Fennel Turmeric Walnut Soup With Apple And Raw Mango Recipe': 'Indian', 'Peanut Rice With Coconut Recipe': 'Indian', 'Gnocchi in Indian Curry Sauce with Spinach and Cheese Recipe': 'Indian', 'Brown Rice In Pressure Cooker Method': 'Indian', 'Chai Ka Masala Recipe - Homemade Spice Powder for Tea': 'Indian',
    'Savory Oatmeal Bowl with Sautéed Spinach and Corn Recipe': 'Healthy', 'How To Make Oat Flour': 'Healthy', 'How To Make Homemade Almond Flour Recipe': 'Healthy', 'How to Make Quinoa Flour Recipe': 'Healthy', 'Healthy Rose Cookies Recipe With Persian Twist': 'Healthy', 'Savory Oatmeal Bowl with Sautéed Carrot and Green Bean Recipe': 'Healthy', 'Savory Flax Seed Multigrain Crackers Recipe': 'Healthy', 'How to make Flax Seed Egg Replacer For Eggless Cakes': 'Healthy', 'Savory Oatmeal Bowl with Cabbage and Green Peas Stir Fry Recipe': 'Healthy', 'Savory Oatmeal Bowl with Chettinad Mushroom and Green Peas Stir Fry Recipe': 'Healthy',
    'बेसिल पेस्तो रेसिपी - Fresh Basil Pesto Recipe': 'Italian Recipes', 'Baked Roasted Vegetable Lasagna Recipe With Low Fat Cheese & Oat Sauce': 'Italian Recipes',
    'Taiwanese Style Gua Bao Recipe - Steamed Bao Buns With Sweet And Spicy Mushroom & Tofu Recipe': 'Asian', 'Vegetarian Thukpa Recipe': 'Asian',
    'Ambul Polos Curry - Sri Lankan Jack Fruit Curry Recipe With Pol Sambol': 'Sri Lankan',
    'Urulaikizhangu Puli Thokku Recipe (South Indian Style Potatoes with Tamarind)': 'South Indian Recipes',
    'Dal Ghiya with Punjabi Wadiyan Recipe - Lentils with Bottle Gourd & Sundried Lentil Dumplings': 'Punjabi',
    "Fattoush With Za'atar, Sumac and Pomegranate Molasses Recipe - Traditional Lebanese Salad": 'Middle Eastern',
    'Bavarian Mushroom Sauce Recipe': 'European',
    'Moroccan Baked Fish Recipe': 'African',
    'Thai Jasmine Sticky Rice Recipe': 'Thai' 
}

In [581]:
cuisine_NAs = df['Cuisine'].isna() 
cuisine_NAs_mapping = df['Recipe Name'].map(recipe_cuisine_mapping)
df.loc[cuisine_NAs, 'Cuisine'] = cuisine_NAs_mapping

#### Merging Multiple Cuisines into fewer Cuisines

In [582]:
cuisine_mapping = {
    # Indian
    'Uttar Pradesh': 'Indian', 'Uttarakhand-North Kumaon': 'Indian', 'Awadhi': 'Indian', 'Lucknowi': 'Indian', 'Bihari': 'Indian', 'Jharkhand': 'Indian',
    # South Indian Recipes
	'Kerala Recipes': 'South Indian Recipes', 'Tamil Nadu': 'South Indian Recipes', 'Chettinad': 'South Indian Recipes', 'Karnataka': 'South Indian Recipes', 'North Karnataka': 'South Indian Recipes', 'South Karnataka': 'South Indian Recipes', 'Coastal Karnataka': 'South Indian Recipes', 'Andhra': 'South Indian Recipes', 'Mangalorean': 'South Indian Recipes', 'Hyderabadi': 'South Indian Recipes', 'Oriya Recipes': 'South Indian Recipes', 'Udupi': 'South Indian Recipes', 'Coorg': 'South Indian Recipes', 'Kongunadu': 'South Indian Recipes',
    # North Indian Recipes
    'Kashmiri': 'North Indian Recipes', 'Sindhi': 'North Indian Recipes', 'Himachal': 'North Indian Recipes', 'Mughlai' : 'North Indian Recipes',
    # Punjabi
    'Haryana': 'Punjabi',
    # Maharashtrian Recipes
    'Malvani': 'Maharashtrian Recipes', 'Goan Recipes': 'Maharashtrian Recipes', 'Konkan': 'Maharashtrian Recipes',
    # Mughlai
    'Parsi Recipes': 'Mughlai',
    # North East India Recipes
    'Assamese': 'North East India Recipes', 'Nagaland': 'North East India Recipes',
    # Chinese
    'Indo Chinese': 'Chinese', 'Sichuan': 'Chinese', 'Hunan': 'Chinese', 'Shandong': 'Chinese',
    # Asian
    'Afghan': 'Asian', 'Burmese': 'Asian', 'Cantonese': 'Asian', 'Filipino': 'Asian', 'Fusion': 'Asian', 'Indonesian': 'Asian', 'Japanese': 'Asian', 'Korean': 'Asian', 'Malaysian': 'Asian', 'Singapore': 'Asian', 'Thai': 'Asian', 'Vietnamese': 'Asian',
    # Middle Eastern
    'Arab': 'Middle Eastern', 'Israeli': 'Middle Eastern', 'Jewish': 'Middle Eastern',
    # American
    'African': 'American', 'Caribbean': 'American', 'Mexican': 'American',
    # European
    'British': 'European', 'French': 'European', 'Greek': 'European', 'Italian Recipes': 'European', 'Swedish': 'European',
    # South Asian
    'Sri Lankan': 'South Asian', 'Malabar': 'South Asian', 'Pakistani': 'South Asian', 'Nepalese': 'South Asian', 'Bangladeshi': 'South Asian',
    # Continental
    'Mediterranean': 'Continental'
}

In [583]:
df['Cuisine'] = df['Cuisine'].replace(cuisine_mapping)

In [584]:
cuisine_mapping = {
    'South Indian Recipes': 'South Indian',
    'North Indian Recipes': 'North Indian',
    'Maharashtrian Recipes': 'Maharashtrian',
    'Bengali Recipes': 'Bengali',
    'Gujarati Recipes﻿': 'Gujarati',
    'North East India Recipes': 'North East Indian'
}

In [585]:
df['Cuisine'] = df['Cuisine'].replace(cuisine_mapping)

In [586]:
value_counts = df['Cuisine'].value_counts()
normalized_value_counts = df['Cuisine'].value_counts(normalize=True)*100
counts_df = pd.DataFrame({'Counts': value_counts, 'Normalized Counts': normalized_value_counts})
counts_df.head(17)

                   Counts  Normalized Counts
Cuisine
South Indian         1725          21.581384
Indian               1446          18.090829
Continental          1363          17.052421
North Indian         1199          15.000626
European              408           5.104466
Asian                 391           4.891780
Maharashtrian         332           4.153634
Bengali               195           2.439635
American              172           2.151883
Gujarati              156           1.951708
Chinese               135           1.688978
Rajasthani            133           1.663956
Punjabi                96           1.201051
Middle Eastern         70           0.875766
North East Indian      64           0.800701
South Asian            49           0.613036
Mughlai                49           0.613036

#### Filling NAs in `Ingredients` manually from Recipe Name

In [587]:
recipe_ingredients_mapping = {
    'Urulaikizhangu Puli Thokku Recipe (South Indian Style Potatoes with Tamarind)': 'Potatoes - 4|Tamarind',
    'How to make Homemade Tomato Puree Recipe (Sauce)': 'Tomatoes',
    'How To Cook Pasta | Penne - Spaghetti - Fusilli - Farfalle': 'Pasta',
    'Pear And Walnut Salad Recipe': 'Pear|Walnut',
    'How To Roast A Papad': 'Papad',
    'Thai Jasmine Sticky Rice Recipe': 'Rice',
    'Classic Pavakkai Stir Fry Recipe (Bitter Gourd Fry)': 'Bitter Gourd'
}

In [588]:
ingredients_NAs = df['Ingredients'].isna() 
ingredients_NAs_mapping = df['Recipe Name'].map(recipe_ingredients_mapping)
df.loc[ingredients_NAs, 'Ingredients'] = ingredients_NAs_mapping

#### Filling NAs in `Equipments` with Hard Anodised Kadai (Wok) - Maximum counts

In [589]:
df['Equipments'].value_counts(normalize = True)[:5]

Equipments
Hard Anodised Kadai (Wok)                                    0.209737
Preethi Blue Leaf Mixer Grinder,Hard Anodised Kadai (Wok)    0.044074
Saucepan With Handle (Tea/Sauces)                            0.042537
Hard Anodized Pressure Cooker                                0.037796
Hard Anodized Pressure Cooker,Hard Anodised Kadai (Wok)      0.036771
Name: proportion, dtype: float64

In [590]:
df['Equipments'].fillna('Hard Anodised Kadai (Wok)', inplace=True)

In [591]:
df.isna().sum()

Page No             0
Recipe Name         0
Image URL           0
Recipe URL          0
Recipe URL Title    0
Cuisine             0
Course              0
Diet                0
Equipments          0
Average Rating      0
Total Ratings       0
Best Rating         0
Worst Rating        0
Prep Time           0
Cook Time           0
Total Time          0
Servings            0
Ingredients         0
dtype: int64

#### Merging `Recipe Name` and `Recipe URL Title`

In [592]:
diff = df.loc[df['Recipe Name'] != df['Recipe URL Title'], ['Recipe Name', 'Recipe URL Title']]
name = diff['Recipe Name'].tolist()
title = diff['Recipe URL Title'].tolist()

for i in list(zip(name, title)):
    print(i)

('Bengali Style Chal Potol Recipe - Pointed Gourd /Parwal and Potato with Yogurt Gravy Recipe', 'Bengali Holud Mishti Pulao Recipe - Saffron Flavored Rice With Nuts')
('Carrot & Sweet Potato Paratha Recipe', 'Carrots & Sweet Potato Stuffed Paratha Recipe')
('Kabuli Chana Salad Recipe With A Tangy Orange Dressing', 'Chatpata Kabuli Chana Salad - Chickpea Salad Recipe')
('मसालेवाली भिंडी रेसिपी - Masalewali Bhindi (Recipe In Hindi)', 'Bhindi Masala Gravy Recipe - Ladies Finger In Tomato Onion Gravy')

In [593]:
df.drop(columns=['Recipe Name'], inplace=True)
df.rename(columns={'Recipe URL Title': 'Recipe Name'}, inplace=True)

In [594]:
df.sample(1)

,Page No,Image URL,Recipe URL,Recipe Name,Cuisine,Course,Diet,Equipments,Average Rating,Total Ratings,Best Rating,Worst Rating,Prep Time,Cook Time,Total Time,Servings,Ingredients
7709,325,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/rich-decadent-...,Rich Decadent Chocolate Souffle Recipe,Continental,Dessert,Eggetarian,"Steel Mixing Bowl,KitchenAid Stand Mixer,Conve...",4.886943,1256.0,5.0,0.0,20 M,15 M,35 M,4,Dark chocolate - 100 grams|Butter (Unsalted) -...

#### Removing M from Time columns (20 M to 20)

In [595]:
df['Prep Time'] = df['Prep Time'].str.replace('M', '').str.strip()
df['Cook Time'] = df['Cook Time'].str.replace('M', '').str.strip()
df['Total Time'] = df['Total Time'].str.replace('M', '').str.strip()

In [596]:
df['Prep Time'] = df['Prep Time'].astype(int)
df['Cook Time'] = df['Cook Time'].astype(int)
df['Total Time'] = df['Total Time'].astype(int)

#### Updating Servings

In [597]:
df['Servings'].value_counts()[:5]

Servings
4    4879
2    1024
3     457
6     435
5     157
Name: count, dtype: int64

In [598]:
servings_mapping = {
    '02-Mar': '2-3', '03-Apr': '3-4', '04-May': '4-5', '05-Jun': '5-6', '06-Aug': '6-7',  4: '4',     '4-5': '4',
    '`4': '4',       '4fl': '4',      '04': '4',       '05': '5',       '2-3': '2',      '3-4': '3',  '20-25': '20',
    '4-6': '4',      '5-6': '5',      '8-10': '8',     '6-7': '6',      '1-1/2': '1',    '1-2': '1',  '10-12': '10',
    '1/2': '1',      '2-4': '2',      '15-20': '15',   '18-20': '18',   '20-30': '20',   '6-8': '6',  '350-400': '350',
    '500-550': '500','8-9': '8',      '3-1/2': '3',    '3-5': '3',      '10-15': '10',   '7-8': '7',
}

In [599]:
df['Servings'] = df['Servings'].replace(servings_mapping)

In [600]:
servings_mapping = {
    '2-3': '2', '3-4': '3', '4-5': '4', '5-6': '5', '6-7': '6'
}
df['Servings'] = df['Servings'].replace(servings_mapping)

In [601]:
df['Servings'] = df['Servings'].astype(int)

#### Removing redundant columns `Worst Rating` and `Best Rating`

In [602]:
df['Worst Rating'].unique()

array([0.])

In [603]:
df['Best Rating'].unique()

array([5.])

In [604]:
drop_columns = ['Worst Rating', 'Best Rating']
df.drop(drop_columns, axis=1, inplace=True)

#### Rounding `Average Rating` to 1 decimals

In [605]:
df.loc[df['Average Rating'] == 45956.918981481, 'Average Rating'] = 4.59569

In [606]:
df['Average Rating'] = df['Average Rating'].round(1)

In [607]:
df['Average Rating'].value_counts()

Average Rating
4.9    5776
5.0    1856
4.8     303
4.7      36
4.6      13
4.5       3
4.4       2
4.3       1
4.0       1
3.3       1
4.1       1
Name: count, dtype: int64

#### Changing datatype of `Total Ratings` to int64

In [608]:
df['Total Ratings'] = df['Total Ratings'].astype(int)

In [609]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7993 entries, 0 to 7995
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Page No         7993 non-null   int64
 1   Image URL       7993 non-null   object
 2   Recipe URL      7993 non-null   object
 3   Recipe Name     7993 non-null   object
 4   Cuisine         7993 non-null   object
 5   Course          7993 non-null   object
 6   Diet            7993 non-null   object
 7   Equipments      7993 non-null   object
 8   Average Rating  7993 non-null   float64
 9   Total Ratings   7993 non-null   int32
 10  Prep Time       7993 non-null   int32
 11  Cook Time       7993 non-null   int32
 12  Total Time      7993 non-null   int32
 13  Servings        7993 non-null   int32
 14  Ingredients     7993 non-null   object
dtypes: float64(1), int32(5), int64(1), object(8)
memory usage: 1.1+ MB

#### Remove Non-English characters from Recipe Name

In [610]:
pattern = re.compile(r'[^\x00-\x7F]+')
df['Recipe Name 2'] = df['Recipe Name'].apply(lambda x: re.sub(pattern, '', x))

In [611]:
df.loc[df['Recipe Name'] != df['Recipe Name 2'], 'Recipe Name 2'] = df.loc[df['Recipe Name'] != df['Recipe Name 2'], 'Recipe Name 2'].str.replace('-', '')

df['Recipe Name 2'] = df['Recipe Name 2'].str.strip()
df['Recipe Name 2'] = df['Recipe Name 2'].str.strip(',')
df['Recipe Name 2'] = df['Recipe Name 2'].str.strip()

In [612]:
# cln = df.loc[df['Recipe Name'] != df['Recipe Name 2'], ['Recipe Name', 'Recipe Name 2']]
# save_path = os.path.join(os.getcwd(), '..', 'Data', 'Recipe_Name.csv')
# cln.to_csv(save_path, index=False)

df.loc[df['Recipe Name'] != df['Recipe Name 2'], ['Recipe Name', 'Recipe Name 2']].sample(5)

,Recipe Name,Recipe Name 2
5853,केरला स्टाइल अरबी की सब्ज़ी रेसिपी - Kerala Sty...,Kerala Style Arbi Curry
4602,दलिया पकोरा रेसिपी - Dalia Pakora Recipe,Dalia Pakora Recipe
5704,दही सुरन की कढ़ी रेसिपी - Dahi Suran Ki Kadhi R...,Dahi Suran Ki Kadhi Recipe
4117,पारसी मटन कटलेट रेसिपी - Parsi Mutton Cutlets ...,Parsi Mutton Cutlets Recipe
6284,अवधी स्टाइल सुल्तानी दाल रेसिपी - Awadhi Style...,Awadhi Style Sultani Dal (Recipe In Hindi)

In [613]:
df.rename(columns={'Recipe Name': 'Recipe Name Original'}, inplace=True)
df.rename(columns={'Recipe Name 2': 'Recipe Name'}, inplace=True)

#### Fetching only Ingredients Name from Ingredients

In [614]:
def extract_ingredient_names(ingredients):
    ingredients = ingredients.split('|')
    ingredient_names = [ingredient.split('-')[0].strip() for ingredient in ingredients]
    return '|'.join(ingredient_names)

df['Ingredient Names'] = df['Ingredients'].apply(extract_ingredient_names)

In [615]:
# cln = df[['Ingredients','Ingredient Names']]
# save_path = os.path.join(os.getcwd(), '..', 'Data', 'Ingredients_Name.csv')
# cln.to_csv(save_path, index=False)

df[['Ingredients','Ingredient Names']]

,Ingredients,Ingredient Names
0,Arhar dal (Split Toor Dal) - 1/2 cup|Mixed veg...,Arhar dal (Split Toor Dal)|Mixed vegetables|Tu...
1,Cauliflower (gobi) - 1 - cut into medium flore...,Cauliflower (gobi)|Milk|Dill leaves|Walnuts|Sa...
2,Fresh coconut - 2 cups - chopped or grated|Luk...,Fresh coconut|Lukewarm Water|Potatoes (Aloo)|G...
3,Gram flour (besan) - 1/2 cup|Spinach - 50 gram...,Gram flour (besan)|Spinach|Onion|Red Chilli po...
4,Whole Wheat Pizza Dough - 1 - recipe|Button mu...,Whole Wheat Pizza Dough|Button mushrooms|Chedd...
...,...,...
7991,Baguette - 1 - sliced|Onions - 2 - finely chop...,Baguette|Onions|Tomatoes|Del Monte Mint Mayo|B...
7992,Paneer (Homemade Cottage Cheese) - 1/4 cup - c...,Paneer (Homemade Cottage Cheese)|Del Monte Min...
7993,Green Bell Pepper (Capsicum) - 1/2 - julienned...,Green Bell Pepper (Capsicum)|Red Bell pepper (...
7994,Sweet Potatoes - 3 - large one cooked peeled a...,Sweet Potatoes|Coriander (Dhania) Leaves|Red C...
7995,1/2 cup All purpose flour|1 tablespoon Sooji|S...,1/2 cup All purpose flour|1 tablespoon Sooji|S...

In [616]:
df.rename(columns={'Ingredients': 'Ingredients Original'}, inplace=True)

In [617]:
df.sample(2)

,Page No,Image URL,Recipe URL,Recipe Name Original,Cuisine,Course,Diet,Equipments,Average Rating,Total Ratings,Prep Time,Cook Time,Total Time,Servings,Ingredients Original,Recipe Name,Ingredient Names
6729,284,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/dark-chocolate...,Dark Chocolate Sandesh (Shondesh) Dipped In Ch...,Bengali,Dessert,Vegetarian,"Saucepan With Handle (Tea/Sauces),Hard Anodise...",4.9,695,15,35,50,10,Milk - 2 liter - full fat|Lemon juice - from o...,Dark Chocolate Sandesh (Shondesh) Dipped In Ch...,Milk|Lemon juice|Dark chocolate|Condensed Milk...
5147,215,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/andhra-style-b...,आंध्रा स्टाइल बीटरूट वेपुडु रेसिपी - Andhra St...,South Indian,Lunch,Vegetarian,"Stainless Steel 2 Tier Steamer,Saucepan With H...",5.0,437,10,20,30,4,चकुंदर - 3 - (बीटरूट)|तेल - 2 बड़े चमच्च|चना दा...,Andhra Style Beetroot Vepudu Recipe,चकुंदर|तेल|चना दाल|सफ़ेद उरद दाल|जीरा|नमक|कढ़ी प...

#### Updating DataTypes of Columns

In [555]:
# df['Page No'] = df['Page No'].astype(int)
# df['Image URL'] = df['Image URL'].astype(str)
# df['Recipe URL'] = df['Recipe URL'].astype(str)
# df['Recipe Name Original'] = df['Recipe Name Original'].astype(str)
# df['Cuisine'] = df['Cuisine'].astype(str)
# df['Course'] = df['Course'].astype(str)
# df['Diet'] = df['Diet'].astype(str)
# df['Equipments'] = df['Equipments'].astype(str)
# df['Average Rating'] = df['Average Rating'].astype(float)
# df['Total Ratings'] = df['Total Ratings'].astype(int)
# df['Prep Time'] = df['Prep Time'].astype(int)
# df['Cook Time'] = df['Cook Time'].astype(int)
# df['Total Time'] = df['Total Time'].astype(int)
# df['Servings'] = df['Servings'].astype(int)
# df['Ingredients Original'] = df['Ingredients Original'].astype(str)
# df['Recipe Name'] = df['Recipe Name'].astype(str)
# df['Ingredient Names'] = df['Ingredient Names'].astype(str)

In [618]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7993 entries, 0 to 7995
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Page No               7993 non-null   int64
 1   Image URL             7993 non-null   object
 2   Recipe URL            7993 non-null   object
 3   Recipe Name Original  7993 non-null   object
 4   Cuisine               7993 non-null   object
 5   Course                7993 non-null   object
 6   Diet                  7993 non-null   object
 7   Equipments            7993 non-null   object
 8   Average Rating        7993 non-null   float64
 9   Total Ratings         7993 non-null   int32
 10  Prep Time             7993 non-null   int32
 11  Cook Time             7993 non-null   int32
 12  Total Time            7993 non-null   int32
 13  Servings              7993 non-null   int32
 14  Ingredients Original  7993 non-null   object
 15  Recipe Name           7993 non-null   object
 16  Ingredient Names      7993 non-null   object
dtypes: float64(1), int32(5), int64(1), object(10)
memory usage: 1.2+ MB

#### Drop Unwanted Columns

In [619]:
drop_columns = ['Recipe Name Original', 'Ingredients Original']
df.drop(drop_columns, axis=1, inplace=True)

#### Arranging Columns

In [620]:
column_seq = ['Page No', 'Recipe Name', 'Cuisine', 'Course', 'Diet', 'Prep Time', 'Cook Time', 
              'Total Time', 'Servings', 'Ingredient Names', 'Equipments', 'Average Rating', 
              'Total Ratings', 'Image URL', 'Recipe URL']

df = df.reindex(columns=column_seq)

In [621]:
df.sample(1)

,Page No,Recipe Name,Cuisine,Course,Diet,Prep Time,Cook Time,Total Time,Servings,Ingredient Names,Equipments,Average Rating,Total Ratings,Image URL,Recipe URL
2794,117,How To Make Homemade Ragi Idli & Dosa Batter R...,Indian,South Indian Breakfast,Diabetic Friendly,60,0,60,1500,Idli Rice|Ragi Seeds|White Urad Dal (Whole)|Me...,Preethi Blue Leaf Mixer Grinder,5.0,25596,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/homemade-ragi-...

## Remove Duplicates

In [627]:
dup_columns = list(set(df.columns.tolist()) - {'Page No', 'Image URL'})
df[df.duplicated(subset=dup_columns,keep=False)][-2:]

,Page No,Recipe Name,Cuisine,Course,Diet,Prep Time,Cook Time,Total Time,Servings,Ingredient Names,Equipments,Average Rating,Total Ratings,Image URL,Recipe URL
7679,323,Dhaba Style Country Chicken Recipe,North Indian,Lunch,High Protein Non Vegetarian,10,60,70,6,Chicken|Onion|Ginger|Garlic|Fresh Red Chilli|M...,Hard Anodised Kadai (Wok),4.9,3408,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/dhaba-style-co...
7680,324,Dhaba Style Country Chicken Recipe,North Indian,Lunch,High Protein Non Vegetarian,10,60,70,6,Chicken|Onion|Ginger|Garlic|Fresh Red Chilli|M...,Hard Anodised Kadai (Wok),4.9,3408,https://www.archanaskitchen.com/imgcache/image...,https://www.archanaskitchen.com/dhaba-style-co...

In [628]:
df.drop_duplicates(subset=dup_columns, keep='first', inplace=True)

In [ ]:
df[df.duplicated(subset=['Recipe Name'])]

In [ ]:
df.drop_duplicates(subset=['Recipe Name'], keep='first', inplace=True)

### Save File

In [629]:
save_path = os.path.join(os.getcwd(), '..', 'Data', 'Recipes_Clean.csv')
df.to_csv(save_path, index=False)